.booking-container {
  padding: 20px;
}

.servicio-card {
  background: #f7f7f7;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.servicio-card:hover {
  background: #e1e1e1;
}

.input-date {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.btn-volver {
  margin-top: 20px;
  background: #ccc;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-confirmar {
  margin-top: 20px;
  background: #00c853;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.error-msg {
  color: red;
  margin-top: 10px;
}
