.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #222;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar-footer {
  margin-top: auto;
}

.sidebar-user {
  margin-bottom: 10px;
}

.sidebar-logout {
  background: crimson;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
}
