.dropdown {
  position: absolute;
  top: 55px;
  right: 15px;
  width: 320px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.12);
  padding: 15px;
  z-index: 999;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.empty {
  text-align: center;
  padding: 20px;
  color: #777;
}

.item {
  display: flex;
  gap: 10px;
  padding: 10px 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  background: #f8f8f8;
}

.item:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  font-size: .88rem;
}

.turno {
  border-left: 4px solid #4f46e5;
}

.pago {
  border-left: 4px solid #16a34a;
}

.cancelado {
  border-left: 4px solid #dc2626;
}
